name: Postman API Testing w Newman

on:
  pull_request:
    branches: [ "main" ]
    paths:
  #      - "server/app/**"
  #      - "server/config/**"
  #      - "server/lib/**"
  push:
    branches: [ "main" ]
    paths:
#      - "server/app/**"
#      - "server/config/**"
#      - "server/lib/**"

jobs:
  api-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # ---------------------
      # Setup Ruby & Rails
      # ---------------------
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
          bundler-cache: true

      - name: Install Rails gems
        working-directory: ./server
        run: bundle install

      - name: Prepare Rails test DB
        working-directory: ./server
        env:
          MYSQL_USER: ${{ secrets.MYSQL_USER }}
          MYSQL_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          OPENAI_API: ${{ secrets.OPENAI_API }}
          UPSTASH_REDIS_URL: ${{ secrets.UPSTASH_REDIS_URL }}
          RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
        run: |
          rails db:create db:migrate RAILS_ENV=test
          rails db:seed RAILS_ENV=test

      # Start Rails server in background
      - name: Start Rails server
        working-directory: ./server
        env:
          MYSQL_USER: ${{ secrets.MYSQL_USER }}
          MYSQL_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          OPENAI_API: ${{ secrets.OPENAI_API }}
          UPSTASH_REDIS_URL: ${{ secrets.UPSTASH_REDIS_URL }}
          RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
        run: rails server -e test -p 3000 &

      # Install Node.js
      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      # Install Newman
      - name: Install Newman
        run: npm install -g newman

      # Run Postman Collection
      - name: Execute Postman Tests
        run: |
          newman run exam-deliveries/api-testing/MUNCHORA.postman_collection.json \
            -e exam-deliveries/api-testing/MUNCHORA.postman_environment.json \
            -r cli,junit \
            --reporter-junit-export newman/results.xml

      # Publish Test Results (Artifacts)
      - name: Publish Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: postman-test-report
          path: newman/results.xml
