name: SonarQube Analysis

on:
  push:
#    branches: [ main ]
#    paths:
#      - "server/**"
  pull_request:
#    branches: [ main ]
#    paths:
#      - "server/**"

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.2
          bundler-cache: true
          working-directory: ./server

      - name: Run tests with coverage
        working-directory: ./server
        env:
          RAILS_ENV: test
        run: bundle exec rspec

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          projectBaseDir: server